name: Update Date in README

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * *" # Runs every day at midnight UTC
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          persist-credentials: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Run update script
        run: python update_date.py

      - name: Commit and push changes
        run: |
          git config --global user.name "julienbonneval"
          git config --global user.email "88285540+julienbonneval@users.noreply.github.com"
          git add README.md
          git commit -m "Update date"
          git push
